[Unit]
Description=WSTunnel Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wstunnel server \
  wss://0.0.0.0:443
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
